---
- hosts: web
  tasks:
  - name: Create app directory if not found
    file:
      path: /home/ansible/app
      state: directory
  - name: Unzip the deployment package
    unarchive:
      src: /home/ansible/build/app.zip
      dest: /home/ansible/app
      remote_src: yes
  - name: Start the nodejs app
    command:
      chdir: /home/ansible/app
      cmd: npm start
    async: 1000
    poll: 0
  - name: Ensure app is running  
    shell: ps aux | grep npm
    register: app_status
  - debug: msg={{app_status.stdout_lines}}
