<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>DevOps Journey</h1>
<p>Congratulations {{ name }} on using Ansible to install and configure nginx server</p>
<p>Your Web server private IP : {{ private_ip }}
<p>Today is {{ today }}</p>
<p>For more ansible knowledge check the documentation at 
<a href="https://docs.ansible.com/ansible/latest/">Ansible Docs</a>.<br/></p>

<p><em>Thank you for using nginx.</em></p>
</body>
</html>